/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

.container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.quiet {
  color: #ababab;
}

div.nav-item {
  margin-left: 25px;
  float: left;
}

.label  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}

//////* NAV BAR *///////////
.nav .dropdown-toggle .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

/////* PAGE TITLE */////////
h3 .nav-link {
  text-decoration: none;
}

///////* POSTS *////////////
.post {
  .new-edit {
    .title {
      width: 300px;
    }
    .url {
      width: 300px;
    }
    .description {
      height: 100px;
      width: 600px;
    }
  }
  .list {
    .title {
      font-size: 28px;
      text-decoration: none;
    }
    .pull-right {
      margin-left: 3px;
    }
    .badge {
      background-color: #A5A5A5;
    }
    .badge:hover {
      background-color: #777777;
    }
    .ctg {
      text-decoration: none;
      color: white;
    }
    .title-info {
      font-size: 11px;
      .name {
        text-decoration: none;
      }
    }
    .post-comments {
      margin-right: 3px;
    }
    hr {
      margin: 10px 0 20px;
    }
  }
  .post-title {
    margin-top: 20px;
    .title {
      font-size: 45px;
    }
    .pull-right {
      margin-left: 3px;
    }
    .badge {
      background-color: #A5A5A5;
    }
    .badge:hover {
      background-color: #777777;
    }
    .ctg {
      text-decoration: none;
      color: white;
    }
    .title-info {
      font-size: 12px;
    }
    .url {
      text-decoration: none;
    }
    .name {
      text-decoration: none;
      font-weight: bold;
    }
    .date {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
  .post-info {
    .body {
      height: 100px;
      width: 500px;
    }
  }
}

///////* COMMENTS *////////////
.body {
  height: 100px;
  width: 500px;
}

.comments {
  .pull-right {
    margin-left: 3px;
  }
  .comment-info {
    font-size: 11px;
  }
  .name {
    text-decoration: none;
  }
  .post {
    font-size: 12px;
  }
  .post-link {
    text-decoration: none;
  }
}

/////////* USERS *///////////////
.user {
  .new-edit-login {
    .username {
      width: 360px;
    }
    .password {
      width: 360px;
    }
    .last-name {
      width: 360px;
    }
    .first-name {
      width: 360px;
    }
    .email {
      width: 360px;
    }
  }
}

.gravatar-link {
  text-decoration: none;
}

.gravatar {
  float: left;
  margin-right: 20px;
}

.user-info {
  display: inline-block;
  .latest-post {
    text-decoration: none;
  }
}

///////* CATEGORIES *////////////

.category {
  .new {
    .name {
      width: 350px;
    }
  }
}