<%= render "shared/content_title", title: category_title(@category) %>

<%= render "posts/paginate", category: true, small: true %>

<div class="paginate-posts">
  <%= render "posts/display_posts" %>
</div>

<%= render "posts/paginate", category: true %>