<ul class='nav'>
  <li><%= link_to 'Postit!', root_path, :class => 'brand' %></li>
  <div class='btn-group nav_item'>
    <%= link_to '#', class: 'btn dropdown-toggle', 
                            'data-toggle' => 'dropdown' do %>
      Categories <span class='caret'></span>
    <% end %>
    <ul class='dropdown-menu'>
      <% nav_categories.each do |ctg| %>
        <li><%= link_to ctg.name, category_path(ctg) %></li>
      <% end %>
    </ul>
  </div>
  <li><%= link_to 'New Post', new_post_path %></li>
</ul>